*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  
}
img.picture{
  max-width: 100%;
  background-color: linear-gradient(to left bottom, #cdd21b, #d9ad00, #df8400, #de5800, #d71313);

}

.App{
  background-image: linear-gradient(to left bottom, #cdd21b, #d9ad00, #df8400, #de5800, #d71313);
}
