/* Projects.css

.projects-container {
    background-color: #f8f8f8; 
    padding: 40px 0;
    text-align: center;
  }
  
  .projects-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  
  
  .project-box {
    background-color: white; 
    color: #333; 
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    width: 300px;
  }
  
  .project-box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    color: #ff4500; 
  }
  @media only screen and (min-width: 768px) {
    .projects-container {
      padding: 40px 40px;
    }
  
    .projects-list {
      justify-content: space-between;
    }
  
    .project-box {
      width: 30%;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .projects-container {
      padding: 40px 80px;
    }
  
    .project-box {
      width: 25%;
    }
  }   */

  /* Project.css */

.project {
  border: 2px solid #3498db;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  background-color:rgba(236, 198, 198, 0.973);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; */
  
}


.project:hover{
  transition: all 1s;
  scale: 1.03; 
  cursor: pointer;
}


.project h3 {
  color: #3498db;
}

.project p {
  color: #555;
  margin-bottom: 8px;
}

.project strong {
  font-weight: bold;
  color: #333;
}

/* Media Query for responsiveness */
@media only screen and (max-width: 600px) {
  .project {
    margin: 8px;
    padding: 12px;
  }
}

/* Projects.css */

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

/* Media Query for responsiveness */
@media only screen and (max-width: 768px) {
  #projects {
    justify-content: center;
  }
}

/* Add more styles as needed */
